{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> 微信公众号数据分析--封面页 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href={% static "images/favicon.png" %}>
	
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href={% static "css/animate.css" %} >
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href={% static "css/icomoon.css" %}>
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href={% static "css/simple-line-icons.css" %}>
	<!-- Owl Carousel -->
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.theme.default.min.css" %}>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href={% static "css/bootstrap.css" %}>

	
	<link rel="stylesheet" href={% static "css/style.css" %}>


	<!-- Modernizr JS -->
	<script src={% static "js/modernizr-2.6.2.min.js" %}></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src={% static "js/respond.min.js" %}></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="/cover">创造404<span>.</span></a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>首页</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>服务内容</span></a></li>
		            <li><a href="#" data-nav-section="screenshots"><span>数据来源</span></a></li>
		            <li><a href="#" data-nav-section="tour"><span>数据获取</span></a></li>
		            <li><a href="#" data-nav-section="features"><span>数据分析</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>面向对象</span></a></li>
		            <li><a href="#" data-nav-section="pricing"><span>关于我们</span></a></li>
		            
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-main owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
		    <div class="item" style="background-image: url({% static "img/dataanalytics_itm.jpg" %});">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
					    <div class="col-md-7 col-sm-7">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead ">微信公众号分析</h1>
									<h2 class="fh5co-sub-lead "> 新华社微信公众号数据分析 </h2>
									<p class=""><a href="/page1_1" class="btn btn-primary btn-lg">点击开始</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 mobile-image">
					    	<div class="mobile"><img src={% static "images/ios1.png" %} alt="Free HTML5 Template by FREEHTML5"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background-image: url({% static "img/dataanalytics_itm.jpg" %});">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead ">微信公众号分析</h1>
						    			<h2 class="fh5co-sub-lead "> 新华社微信公众号数据分析 </h2>
									<p class=""><a href="/page1_1" class="btn btn-primary btn-lg" style="">点击开始</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 mobile-image">
					    	<div class="mobile"><img src={% static "images/ios2.png" %} alt="Free HTML5 Template by FREEHTML5"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>

		   
		</div>
	</div>
    <!--<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>-->
	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm animate-box">
				<div class="col-md-12 section-heading text-center">
					<h2>服务内容</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3>针对联通集团系统内各分子公司运营的公众号设计,</h3>
							<h3>真正实现数据支撑、智能评估</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>获取微信公众号数据</h3>
						<p>爬取微信公众号前端页面数据，统计文章、作者、浏览量等指标在不同维度下的关联情况</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>多维度数据分析</h3>
						<p>在不接触后端数据的情况下，实现内容质量分析、影响力分析、舆情监控</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>运营协助</h3>
						<p>辅助运营人员选取发布内容、时间和主题，实现数据指导公众号运营</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div id="fh5co-product-screenshots" data-section="screenshots">

		<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeIn">
				<div class="col-md-12 section-heading text-center">
					<h2>数据来源</h2>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<h3>日期：2018.2.9～2018.9.7日共计270天的数据</h3>
							<h3>文章数：3995篇    精选评论：约5万条 </h3>
							<h3>单篇文章最高点赞次数累计10万多次</h3>
							<h3>单篇文章最高阅读次数累计2亿多次</h3>
						</div>
					</div>
				</div>
			</div>
		<div class="owl-carousel-center">
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5683.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5684.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5685.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5686.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5687.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5688.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src={% static "images/IMG_5689.PNG" %} alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></div>
		</div>
	</div>

	<div id="fh5co-tour" data-section="tour">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img src={% static "images/IMG_5686_1.PNG" %} alt="Free HTML5 Bootstrap Template" class="img-responsive img-feature-1">
					</div>
					<div class="col-md-7 col-md-push-4">
						<h2>数据获取</h2>
						<p> </p>
						<li>微信反爬机制应对</li>
						<li>评论数据与文章关联</li>
						<li>用户维度信息分析</li>
						<p> </p>
						<p><a href="#" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 col-md-push-8 animate-box" data-animate-effect="fadeInRight">
						<img src={% static "images/IMG_5687_1.PNG" %} alt="Free HTML5 Bootstrap Template" class="img-responsive img-feature-1">
					</div>
					<div class="col-md-7 col-md-pull-4">
						<h2>数据分析</h2>
						<p></p>
						<li>前端界面抓取的阅读量预估</li>
						<li>评论审核效力考察</li>
						<li>文章发布来源分析</li>
						<p></p>
						<p><a href="#" class="btn btn-primary">Learn more</a></p>	
					</div>
				</div>
			</div>
		</div>
	</div>

	

	
	
	<div id="fh5co-features" data-section="features" style="background-color: rgba(255,0,0,0.05);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box" data-animate-effect="fadeIn">数据分析</h2>
					<div class="row animate-box" data-animate-effect="fadeIn">
						<div class="col-md-8 col-md-offset-2">
							<h3>- 数据依据： 爬取的文章标题、作者、发布时间、浏览量，点赞数，评论数、评论内容</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-icon"><i class="icon-present"></i></div>
					<div class="fh5co-desc">
						<h3>运营数据概览</h3>
						<p>公众号整体情势预判：浏览量，点赞数，评论数、发文数、平均点赞数、平均发文数 </p>
					</div>	
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-icon"><i class="icon-eye"></i></div>
					<div class="fh5co-desc">
						<h3>内容质量分析</h3>
						<p>分析指定时间节点或时间段区间各项数据对比情况</p>
						<li>文章类型分析+Top文章榜单</li>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-icon"><i class="icon-crop"></i></div>
					<div class="fh5co-desc">
						<h3>作者影响力分析</h3>
						<p>深度分析作者影响力，发现大V：</p>
						<li>月度作者 Top-10 榜单</li>
						<li>年度作者 Top-10 榜单</li>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-icon"><i class="icon-speedometer"></i></div>
					<div class="fh5co-desc">
						<h3>舆情监控</h3>
						<p>阶段性舆情研判、专题性舆情分析</p>
						<li>标题热词 + 精选评论热词+情感分析</li>
					</div>	
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonials" data-section="testimonials" style="background-color: rgba(255,0,0,0);">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box" data-animate-effect="fadeIn"  style="color: #444444;">面向对象</h2>
					<div class="row animate-box" data-animate-effect="fadeIn">
						<div class="col-md-12 col-md-offset-0 subtext">
							<p></p>
							<h3 style="color: #444444;">针对联通集团系统内各分子公司运营的公众号</h3>
							<h3 style="color: #444444;">真正实现数据支撑、智能评估</h3>
							<p></p>
							<img src={% static "images/image2.png" %} style="background-color: #FFFFFF;margin-left:-5%;"/>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box" data-animate-effect="fadeIn">关于我们</h2>
					<div class="row animate-box" data-animate-effect="fadeIn">
						<div class="col-md-8 col-md-offset-2 subtext">
							<h3>- 成员组成&分工</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-md-12 col-md-offset-0 subtext">
					<div class="price-box animate-box" data-animate-effect="fadeIn">
						<img src={% static "images/image3.png" %} style="width: 100%;"/>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
			</div>
		</div>
	</div>

	
	<div class="fh5co-cta" style="background-image:url({% static "images/hero.jpg" %})">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>下面请欣赏我们的产品</h3>
				<p><a href="/page1_1" class="btn btn-primary btn-outline btn-lg">Get started</a></p>
			</div>
		</div>
	</div>

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; Created by <a href="#">创造404</a>. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
	
	
	<!-- jQuery -->
	<script src={% static "js/jquery.min.js" %}></script>
	<!-- jQuery Easing -->
	<script src={% static "js/jquery.easing.1.3.js" %}></script>
	<!-- Bootstrap -->
	<script src={% static "js/bootstrap.min.js" %}></script>
	<!-- Waypoints -->
	<script src={% static "js/jquery.waypoints.min.js" %}></script>
	<!-- Owl Carousel -->
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<!-- Main JS (Do not remove) -->
	<script src={% static "js/main.js" %}></script>

	</body>
</html>
